/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define HOST_OS 1
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/42.h"
#include "zmk-helpers/unicode-chars/portuguese.dtsi"

// Define layer names
#define DEFAULT 0
#define SYM_LAY 1
#define FUN_LAY 2
#define SYS_LAY 3

// Define mouse configs
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000 
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10 

// Define mouse aliases
#define MML MOVE_LEFT 
#define MMD MOVE_DOWN
#define MMU MOVE_UP
#define MMR MOVE_RIGHT
#define SCRL_L SCRL_LEFT 
#define SCRL_D SCRL_DOWN
#define SCRL_U SCRL_UP
#define SCRL_R SCRL_RIGHT 

/ {
    behaviors {
      /* Tap-Dance */
      shftCps: shift_to_caps { // 1-tap the LSHFT key for LSHFT functionality. 2-tap the LSHFT key for CAPSLOCK functionality
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp LSHFT>, <&kp CAPSLOCK>;
      };

      /* Mod-Morph */
      bckspDel: backspace_to_delete { // Tap BSPC key whith LSHFT held down for DELETE functionality
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp BACKSPACE>, <&kp DELETE>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        sys_layer {
            if-layers = <SYM_LAY FUN_LAY>;
            then-layer = <SYS_LAY>;
        };
    };

    keymap {
      compatible = "zmk,keymap";

      default_layer {
         bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// |  ESC       |  q Q       |  w W       |  e E       |  r R       |  t T       |   |  y Y       |  u U       |  i I       |  o O       |  p P       | BKSP[DEL]  |
   &kp ESC      &kp Q        &kp W        &kp E        &kp R        &kp T            &kp Y        &kp U        &kp I        &kp O        &kp P        &bckspDel
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// |L_SHFT CAPS |  a A       |  s S       |  d D       |  f F       |  g G       |   |  h H       |  j J       |  k K       |  l L       |  ; :       |  ' "       |
   &shftCps     &kp A        &kp S        &kp D        &kp F        &kp G            &kp H        &kp J        &kp K        &kp L        &kp SEMI     &kp APOS
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// |  L_CTRL    |  z Z       |  x X       |  c C       |  v V       |  b B       |   |  n N       |  m M       |  , <       |  . >       |  / ?       |  TAB       |
   &kp LCTRL    &kp Z        &kp X        &kp C        &kp V        &kp B            &kp N        &kp M        &kp COMMA    &kp DOT      &kp SLASH    &kp TAB
// ╰────────────┴────────────┴────────────┴────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┴────────────┴────────────┴────────────╯
//                                        | LALT LOPT  |  SYM_LAY   |  SPC       |   |  ENT       |  FUN_LAY   |  META      |
                                          &kp LALT     &mo SYM_LAY  &kp SPACE        &kp ENTER    &mo FUN_LAY  &kp LGUI
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
         >;
      }; 

      symbol_layer {
         bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// |  ` ~       |  1 !       |  2 @       |  3 #       |  4 $       |  5 %       |   |  6 ^       |  7 &       |  8 *       |  9 (       |  0 )       | BKSP[DEL]  |
   &kp GRAVE    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5           &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &bckspDel
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// |L_SHFT CAPS | PLAY/PAUSE | PRT_SCR    | MUTE_MIC   |  VOL_UP    |  BRT_UP    |   |  (         |  [ {       |  {         |  - _       |  = +       |   \ |      |
   &shftCps     &kp K_PP     &kp PSCRN    &kp F20      &kp K_VOL_UP &kp C_BRI_UP     &kp LPAR     &kp LBKT     &kp LBRC     &kp MINUS    &kp EQUAL    &kp BSLH
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// |  L_CTRL    | PREV MEDIA | NEXT MEDIA |  ç Ç       |  VOL_DW    |  BRT_DW    |   |  )         |  ] }       |  }         |  _         |  +         |   |        |
   &kp LCTRL    &kp K_PREV   &kp K_NEXT   &pt_c_cedilla &kp K_VOL_DN &kp C_BRI_DN     &kp RPAR     &kp RBKT     &kp RBRC     &kp UNDER    &kp PLUS     &kp PIPE
// ╰────────────┴────────────┴────────────┴────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┴────────────┴────────────┴────────────╯
//                                        | LALT LOPT  |  SYM_LAY   |  SPC       |   |  ENT       |  FUN_LAY   |  META      |
                                          &trans       &trans       &trans           &trans       &trans       &trans
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
         >;
      };      

      function_layer {
         bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// |  F1        |  F2        |  F3        |  F4        |  F5        |  F6        |   |  F7        |  F8        |  F9        |  F10       |  F11       |  F12       |
   &kp F1       &kp F2       &kp F3       &kp F4       &kp F5       &kp F6           &kp F7       &kp F8       &kp F9       &kp F10      &kp F11      &kp F12      
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// |L_SHFT CAPS |            |            | RGT CLICK  | LFT CLICK  | SCROLL UP  |   |  LFT       |  DNW       |  UP        |  RGT       |            |            |
   &shftCps     &none        &none        &mkp RCLK    &mkp LCLK    &msc SCRL_U      &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &none        &none
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// |            |            |            | SCROLL LFT | SCROLL RGT | SCROLL DNW |   | MOUSE LFT  | MOUSE RGT  | MOUSE UP   | MOUSE LFT  |            |            |
   &none        &none        &none        &msc SCRL_L  &msc SCRL_R  &msc SCRL_D      &mmv MML     &mmv MMD     &mmv MMU     &mmv MMR     &none        &none
// ╰────────────┴────────────┴────────────┴────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┴────────────┴────────────┴────────────╯
//                                        | LALT LOPT  |  SYM_LAY   |  SPC       |   |  ENT       |  FUN_LAY   |  META      |
                                          &trans       &trans       &trans           &trans       &trans       &trans
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
         >;
      };

      sys_layer {
         bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// |            |            |            |            |            |            |   |            |            |            |            |            |            |
   &none        &none        &none        &none        &none        &none            &none        &none        &none        &none        &none        &none 
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// |            |  BLE_5     |  BLE_4     |  BLE_3     |  BLE_2     |  BLE_1     |   |  BLE_CLR   |            |            |            |            | BT_CLR_ALL |
   &none         &bt BT_SEL 5 &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1     &bt BT_CLR  &none        &none        &none        &none        &bt BT_CLR_ALL
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// |            |            |            |  RST       |            |            |   |            |            |  RST       |            |            |            |
   &none        &none        &none        &bootloader  &none        &none            &none        &none        &bootloader  &none        &none        &none 
// ╰────────────┴────────────┴────────────┴────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┴────────────┴────────────┴────────────╯
//                                        | LALT LOPT  |            |  SPC       |   |  ENT       |            |  META      |
                                          &trans       &trans       &trans           &trans       &trans       &trans
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
         >;
      };
   };
};
